target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/.mvn/wrapper/maven-wrapper.jar

*.iml
.idea/

.DS_Store

*.asc
git.properties

**/src/site/markdown/README.md
**/src/site/markdown/src/readme
**/src/site/resources

/spring-cloud-eureka/spring-cloud-eureka-server/Dockerfile

/src/site/markdown/*.md
