target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
/.mvn/profiler-report/
/.mvn/*Repository/

# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/.mvn/wrapper/maven-wrapper.jar

*.iml
.idea/

.DS_Store

*.asc
git.properties

**/src/site/markdown/README.md
**/src/site/markdown/src/readme
**/src/site/resources

/docker-consul-agent/docker/resolv.conf
/spring-cloud-eureka/spring-cloud-eureka-server/Dockerfile
/spring-cloud-eureka/spring-cloud-eureka-server/src/main/docker/deploy.zip
/spring-cloud-eureka/spring-cloud-eureka-sidecar/Dockerfile
/spring-cloud-eureka/spring-cloud-eureka-sidecar/src/main/docker/deploy.zip

/src/site/markdown/*.md
