<?xml version="1.0" encoding="UTF-8"?>
<!--
-->
<Configuration status="WARN">
    <Properties>
        <Property name="defaultLoggingFile">eureka</Property>
        <Property name="defaultLoggingPath">${sys:user.home}/.data/eureka/logs</Property>
        <!-- https://issues.apache.org/jira/browse/LOG4J2-1589 -->
        <!-- http://logback.qos.ch/manual/configuration.html#nestedSubst -->
        <Property name="loggingFileFromEnv">${env:LOGGING_FILE}</Property>
        <Property name="loggingFile">${loggingFileFromEnv:-${defaultLoggingFile}}</Property>
        <Property name="loggingPathFromEnv">${env:LOGGING_PATH}</Property>
        <Property name="loggingPath">${loggingPathFromEnv:-${defaultLoggingPath}}</Property>
    </Properties>

    <Appenders>
        <Console name="STDOUT">
            <PatternLayout charset="UTF-8" >
                <pattern>%d{ISO8601}{GMT+8} %highlight{%p} %style{%c{1.} [%t] %m}{bold,green}%n</pattern>
            </PatternLayout>
        </Console>
        <RollingRandomAccessFile
                name="RollingRandomAccessFile"
                fileName="${loggingPath}/${loggingFile}.log"
                filePattern="${loggingPath}/$${date:yyyy-MM}/${loggingFile}-%d{yyyy-MM-dd}-%i.log"
                immediateFlush="false" append="true" bufferSize="524288"
        >
            <PatternLayout charset="UTF-8" >
                <Pattern>%d{ISO8601}{GMT+8} %p %c{1.} [%t] %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="512 MB"/>
            </Policies>
            <DefaultRolloverStrategy>
                <Delete basePath="${loggingPath}" maxDepth="2">
                    <IfFileName glob="*/${loggingFile}-*.log">
                        <IfLastModified age="1d">
                            <IfAny>
                                <IfAccumulatedFileSize exceeds="2 GB"/>
                            </IfAny>
                        </IfLastModified>
                    </IfFileName>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingRandomAccessFile>
    </Appenders>
    <!-- level="${env:LOGGING_LEVEL_:-DEBUG}" will override spring-boot's logging.level.${loggerName}: ${logLevel} -->
    <Loggers>
        <Root level="${env:LOGGING_LEVEL_:-INFO}" includeLocation="false">
            <AppenderRef ref="RollingRandomAccessFile"/>
            <AppenderRef ref="STDOUT"/>
        </Root>
    </Loggers>
</Configuration>
